header{
  background: aqua;
  text-align: center;
}
nav{
  background: rgb(3, 164, 164);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul {
  gap: 12px;
}
nav li a{
  color: #fff;
  background: rgb(3, 100, 100);
}


/* ukuran 1024px => desktop++ */
@media screen and (min-width: 1024px) {
  header{
    background-color: brown;
  }
}

/* ukuran 768-1023px => tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header{
    background-color: blueviolet;
  }
}