.contenner{
    text-align: center;
}
.contenner h2{
    margin: 15px;  
    padding-left: 10px;      /* ruang agar teks tidak mepet garis */
    border-left: 4px solid #22c55e;  /*membuat garis tepi di sisi kiri elemen*/
    
}
.contenner p{
    text-align: left;
}
.judulawal{
    text-align: center; 
}
.judulawal img{
    margin:  0 auto;
    width: 100px;
    height: auto;
}
.judulawal h1{
    color:rgb(22, 59, 182);
    font-size: 50px ;
    margin: 0;
}
.card {
  background: #fff; /*mengatur warna bakground*/
  border: 1px solid #e5e7eb; /*membuat garis tepi di sekitar elemen*/
  border-radius: 12px; /*membuat sudut elemen menumpul*/ 
  margin: 20px;
  padding: 20px auto;
  text-align: left;
}
.card p{
    margin: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    color: #374151;             /*untuk tingiin baris */
    line-height: 1.6;            /*mengatur tinggi baris*/
    text-align: left;
}
.card img {
    margin: 15px;
    width: 200px;          
    height: 200px;         
    object-fit: cover;    /*agar gambar tetap proposional*/
    border-radius: 50%;
    border: 3px solid #e5e7eb;
}
.card ul ol{
    text-align: left;
}

.link{
    text-align: center;
}